@page
@model Our_Exam_2425.Pages.GameHistoryModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>DateTime</th>
            <th>A</th>
            <th>B</th>
            <th>X</th>
            <th>Y</th>
            <th>PlayerScore</th>
            <th>BotScore</th>
            <th>Winner</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Game in Model.Games)
        {
            <tr>
                <td>@Game.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td>@Game.A</td>
                <td>@Game.B</td>
                <td>@Game.X</td>
                <td>@Game.Y</td>
                <td>@Game.PlayerScore</td>
                <td>@Game.BotScore</td>
                <td>@Game.Winner</td>
            </tr>
        }
    </tbody>
